<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.nps.gov/npmap/bootstrap/assets/ico/favicon.png">
    <link rel="stylesheet" href="http://www.nps.gov/lib/bootstrap/3.3.2/css/nps-bootstrap.min.css">
    <title>Preview | Places | National Park Service</title>
  </head>
  <body>
    <h3>{{{subtitle}}}</h3>
    <div>{{{body}}}</div>
  </body>
</html>
