{
  "iD": {
    "consumerKey": "ID_KEY",
    "consumerSecret": "ID_SECRET"
  },
  "arc2places": {
    "consumerKey": "ARC_KEY",
    "consumerSecret": "ARC_SECRET"
  },
  "josm": {
    "consumerKey": "JOSM_KEY",
    "consumerSecret": "JOSM_SECRET"
  }
}
